*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(#009587 0, #009587 20%, #d7dad6 20%, #d7dad6 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-fluid{
    display: flex;
    width: 80%;
    height: 95%;
}

.icon{
    color: grey;
}

.icon:hover{
    cursor: pointer;
}

.inner-container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #d7dad6;
    padding: 0.5em;
    border-bottom: 1px solid #bfbfbf;
}

/* Inner Container SX */
.inner-container-sx {
    width: 30%;
    height: 100%;
    border: 1px solid #bfbfbf;
    background-color: white;
}

.user-container {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 0.3em;
}

.user-container img {
    width: 15%;
    border-radius: 50%;
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.8em;
    width: 20%;
    font-size: 1.2em;
}

.alert-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    color: white;
    background-color: #8edafc;
}

.alert-icon .icon{
    border-radius: 50%;
    padding: 0.6em;
    color: #8edafc;
    background-color: white;
}

.alert-text {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: white;
}

.search .icon {
    margin-left: 0.5em;
}

.search input {
    border-style: none;
    width: 85%;
    margin-left: 1em;
}

.search input:focus{
    outline: none;
}

.contacts-container {
    display: flex;
    align-items: center;
    gap: 0.3em;
    border-bottom: 1px solid #bfbfbf;
    padding: 0.5em;
}

.contacts-img-container {
    width: 20%;
}

.contacts-img-container img {
    width: 85%;
    border-radius: 50%;
}

.contacts-container:hover{
    cursor: pointer;
    background-color: #d7dad6;
}
/* End Inner Container Sx */

/* Inner Container DX */
.inner-container-dx {
    width: 70%;
    height: 100%;
    background-color: #e3dbd2;
    border: 1px solid #bfbfbf;
}

.contact-img {
    width: 10%;
    display: flex;
    align-items: center;
}

.contact-img img{
    width: 55%;
    border-radius: 50%;
}

.contact-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.8em;
    width: 20%;
    font-size: 1.2em;
}

.main-dx {
    width: 100%;
    height: 80%;
    background-image: url(../img/mine.jpg)
}

.footer-dx {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    background-color: #f3eeea;
}

.footer-dx input{
    border-style: none;
    width: 80%;
    padding: 1em;
    border-radius: 5px;
}

.footer-dx .icon{
    font-size: 1.5em;
}

.footer-dx input:hover{
    outline: none;
}
/* End Inner Container DX */

