<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Link FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Link css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app" class="container-fluid">
        <!-- Inner Container SX -->
        <div class="inner-container-sx">
            <div class="inner-container-header">
                <div class="user-container">
                    <img src="img/avatar_5.jpg" alt="">
                    <h4>User Name</h4>
                </div>
                <div class="user-menu">
                    <i class="fas fa-sync icon"></i>
                    <i class="fas fa-comment-alt icon"></i>
                    <i class="fas fa-ellipsis-v icon"></i>
                </div>
            </div>
            <div class="alert-container">
                <div class="alert-icon">
                    <i class="far fa-bell-slash icon"></i>
                </div>
                <div class="alert-text">
                    <h4>Receive notifications of new messages</h4>
                    <h5>Enable desktop notifications</h5>
                </div>
            </div>
            <div class="search">
                <i class="fas fa-search icon"></i>
                <input type="text" placeholder="Search or start a new chat">
            </div>
            <div @click="getIndex(index)" v-for="(contact, index) in contacts" class="contacts-container">
                <div class="contacts-img-container">
                    <img :src="'img/avatar' + contact.avatar + '.jpg'" />
                </div>
                 <div class="contacts-info">
                    <h4>{{contact.name}}</h4>
                    <h5>{{contact.messages[(contact.messages.length-1)].text}}</h5>
                 </div>    
            </div>
        </div>
        <!-- End Inner Container SX -->

        <!-- Inner Container DX -->
        <div class="inner-container-dx">
            <div class="inner-container-header">
                <div class="contact-img">
                    <img :src="'img/avatar' + contacts[counter].avatar + '.jpg'" />
                </div>
                 <div class="contact-info">
                    <h4>{{contacts[counter].name}}</h4>
                    <h5>Ultimo accesso alle {{contacts[counter].messages[(contacts[counter].messages.length - 1)].date}}</h5>
                 </div>
                 <div class="contact-menu">
                    <i class="fas fa-search icon"></i>
                    <i class="fas fa-paperclip icon"></i>
                    <i class="fas fa-ellipsis-v icon"></i>
                </div>
            </div>

            <div class="main-dx">
                <div v-for="(message, index) in contacts[counter].messages" class="message" :class="message.status == 'sent' ? 'sent' : ''">
                    {{message.text}}
                </div>
            </div>

            <div class="footer-dx">
                <i class="far fa-smile icon"></i>
                <input v-model="text" @keyup.enter="getMessage" type="text" placeholder="Write a message">
                <i class="fas fa-microphone icon"></i>
            </div>
        </div>
        <!-- Inner Container DX -->
    </div>

    <!-- Link js -->
    <script src="js/script.js"></script>
</body>
</html>